[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
django-ckeditor = "*"
whitenoise = "*"
"beautifulsoup4" = "*"
"psycopg2-binary" = "*"
heroku = "*"
django-storages = "*"
"boto3" = "*"
smart-open = "*"

[requires]
python_version = "3.6"
