<div class="container p-4 mb-3">
    <form method="post">{% csrf_token %}
        <div class="mb-2 mt-2">
            <div class="search_field_container">
                {{ search_form.searchField }}
            </div>
            <div class="search_dropdown_container">
                {{ search_form.categorySelectionField }}
            </div>
            <div class="search_dropdown_container">
                {{ search_form.provinceSelectionField }}
            </div>

            <div class="searchBtn_container">
                {% if user.is_authenticated %}
                    <input type="submit" value="Search" style="border: 1px solid #7B1FA2; height: 50px;">
                {% else %}                  
                    <a class="subscribeDialogCall search_btn btn" href="javascript:void(0)" role="button" data-bs-toggle="modal" data-bs-target="#subscribeCallModal">Search</a>              
                {% endif %}
            </div>
        </div>
    </form>

    </div>