<div class="container p-4 mb-3 bg-light">
    <form method="post">{% csrf_token %}
        <div class="input-group mb-2 mt-2">
            <div class="input-group-prepend" style="width: 60%;">
                {{ search_form.searchField }}
            </div>

            {{ search_form.categorySelectionField }}
            {{ search_form.provinceSelectionField }}

            <div class="input-group-append">
                {% if user.is_authenticated %}
                    <input type="submit" class="btn btn-primary" value="Search">
                    {% else %}
                    <a class="btn btn-primary subscribeDialogCall" role="button" href="javascript:void(0)" data-toggle="modal" data-target="#subscribeCallModal">Search</a>
                    {% endif %}
            </div>
        </div>
    </form>

    </div>