{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tender{% endblock %}
{% block content %}
{% load tz %}

<div class="container_div p-3 mb-4">
    <table class="table table-responsive width_adjuster">
        <tbody style="font-size: 14px; font-family: Helvetica;">

            <tr>
                <td class="bg-light" style="font-weight: bold; width: 150px;">Tender Details:</td>
                <td>{{ tender.description|safe }}</td>
            </tr>
            <tr>
                <td class="bg-light" style="font-weight: bold; width: 150px;">Tender Documents:</td>
                <td>{{ tender.tDocLinks|safe }}</td>
            </tr>

        </tbody>
    </table>

</div>

{% endblock %}