{% extends "base.html" %}
{% load static %}
{% block title %}Tender{% endblock %}
{% block content %}
{% load tz %}

<div class="page_header">
    
</div>
<div class="data_wrapper page p-3">
    {% if tender.pdfType == False %}
    <div class="mt-3 tenderFontSize" style="font-size: .85em">
        <div>
            {{ tender.description|safe }}
        </div>
        <div class="bg-light mt-2">
            <div class="bg-secondary text-white p-1 mb-1"><span>Tender Documents</span></div>
            {% if tender.check_docs == False %}
            <div>None</div>
            {% else %}
            {{ tender.tDocLinks|safe }}
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="embed-responsive embed-responsive-16by9">
    <embed class="embed-responsive-item" src="https://drive.google.com/viewerng/viewer?embedded=true&url={{ tender.pdfLink }}" >
    </div>
    {% endif %}

</div>

{% endblock %}