html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

/************header css***********************/
#header_section{
    background-color: white;
    min-height: 100px;
}

.data_wrapper{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 5px;
}

#wrapper{
    min-height: 100%;
    background-color: #DCD3DB;
    margin: 0 auto -100px;
}

#mainContent{
    margin-bottom: 20px;
    padding-top: 15px;
}

.container_div{
    background-color: white;
}

.clear{ clear:both; }

/************footer css***********************/
#footer_section{
    background-color: black;
    min-height: 100px;
}

#push_div{
    height: 100px;
    background-color: #DCD3DB;
}

/**********tender headers css*********************/
.tender_headers{
    color: grey;
    font-size: 0.85em;
}

/**********container div for filters*************/
.filter_container_div{
    height: 700px;
}

.inner_filter_container{
    overflow-y: auto;
    border: 1px solid #ddd;
}

.cats_container{
    height: 398px;
    overflow-y: auto;
    border: 1px solid #ddd;

}

.provinces_list{
    list-style-type: none;
    font-size: 0.8em;
}

.provinces_list{
    margin: 0;
    padding: 0;
}



.nested {
  display: none;
}

.active {
  display: block;
}

.search_item_container{
    background-color: #ccffff;
    padding: 3px;
}

.tenderFontSize{
    font-size: 0.75em;
}


/*****************scroll bar css for the filter div**********/
.cats_container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.cats_container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.cats_container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}


/******************deco-divs css**************************/
.deco_divs{
    background-color: white;
    border: 1px solid #ddd;
}


/*****************reg form css***************************/
.form-style-1 {
	margin:10px auto;
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=password],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=password]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 99%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

#order_summary{
    border: 1px dashed black;
    margin:10px auto;
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/*Styles the client chosen keywords div on the dashboard*/
#clientChosenKeywords{
    padding: 5px;
    border-radius: 5px;
    height: 350px;
    width: 35%;
    overflow: auto;
    background-color: #f7faff;
    border: 1px solid #7B1FA2;
}

.loginContainerDiv{
    width: 40%;
}

@media only screen and (max-width: 600px) {
  .loginContainerDiv {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .loginContainerDiv {
    width: 80%;
  }
}