{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CNRSP075PL"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CNRSP075PL');
    </script>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css-main/animate.css' %}"/>
    

</head>
<body>
<div id="wrapper">
    {% if user.is_authenticated %}
        <div class="contacts_container">
            <div class="top_btns">
                <a href="{% url 'logout' %}" class="top_btn_links">Logout</a>
            </div>
            <div class="contact_nums">
                <span>Tel: +27 74 673 9232 | </span>
                <span>+27 82 997 4609</span>
            </div>
            
        </div>

        

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid nav_container">
              <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'Media/images/logo.png'%}"/></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active menu-item" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'dashboard_tenders' %}">Find Tenders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'categories' %}">Tender Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'user_profile' %}">Manage Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'billing' %}">Billing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'contact_us' %}">Contact Us</a>
                  </li>
                 
                
                <li class="nav-item">
                    <div class="avatar_container ms-2" style="float: left;">
        
                        
                        <div class="d-inline-block dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #292b2c;">
                                <img src="{% static 'Media/images/avatars/profile_avatar.png' %}"
                                             width="30px" height="30px"
                                             style="border-radius: 100px; margin-right: 10px; border: 2px solid #fff;"/><span class="avatar_text text-dark">{{user.get_full_name}}</span>
                            </a>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
                              <li><a class="dropdown-item" href="#">Tender WatchList</a></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                          </div>
                    </div>
                </li>
            
                </ul>
                
              </div>
              
            </div>
          
          </nav>

        {% else %}

        <div class="contacts_container">
            <div class="top_btns">
                <a href="{% url 'pricing' %}" class="top_btn_links">Register</a>
                <a href="{% url 'login' %}" class="top_btn_links">Login</a>
            </div>
            <div class="contact_nums">
                <span>Tel: +27 74 673 9232 | </span>
                <span>+27 82 997 4609</span>
            </div>
            
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid nav_container">
              <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'Media/images/logo.png'%}"/></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active menu-item" aria-current="page" href="{% url 'homepage' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'about_us' %}">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'dashboard_tenders' %}">Tenders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="{% url 'contact_us' %}">Contact Us</a>
                  </li>
                 
                
                <li class="nav-item">
                    <div class="avatar_container ms-2" style="float: left;">
        
                        
                        <div class="d-inline-block dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #292b2c;">
                                <img src="{% static 'media/images/avatars/profile_avatar.png' %}"
                                             width="30px" height="30px"
                                             style="border-radius: 100px; margin-right: 10px; border: 2px solid #fff;"/><span class="avatar_text text-dark">My Leads Hub</span>
                            </a>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
                              <li><a class="dropdown-item" href="#">Tender Watchlist</a></li>
                              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                            </ul>
                          </div>
                    </div>
                </li>
            
                </ul>
                
              </div>
              
            </div>
          
          </nav>

          {% endif %}


        
   


    <!-- Modal -->
    <div class="modal fade" id="subscribeCallModal" tabindex="-1" role="dialog"
         aria-labelledby="subscribeCallModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subscribeCallModalLongTitle">Please Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>To gain full access, please register.</p>
                </div>
                <div class="modal-footer">
                    <a role="button" href="{% url 'pricing' %}" class="btn btn-outline-danger btn-lg" style="margin: auto;">Register</a>
                </div>
            </div>
        </div>
    </div>




    <section id="mainContent">
        
            {% block content %}
            {% endblock content %}
 
    </section>

    <div id="push_div"></div>

</div>


<footer>
    
    <div class="_container">
        <div class="sec aboutus">
            <h3>About Us</h3>
            <p>
                Leads Hub sources Leads and Tenders all over South Africa and Africa. Tenders are sourced from more than 1000 websites and over 200 newspapers. Leads and Tenders are consolidated and then matched accordingly to our subscribers. Each of our subscribers will then be sent an email containing tenders that match their business profile.
            </p>

            <ul class="sci">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
            <a href="https://sacoronavirus.co.za/" target="_blank" rel="noopener noreferrer"><img src="{% static 'Media/images/covid-19-image.png'%}" style="width: 75%;"/></a>
        </div>

        <div class="sec quickLinks">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% url 'about_us' %}">About</a></li>
                <li><a href="{% url 'contact_us' %}">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>

        <div class="sec contact">
            <h3>Contact Info</h3>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 20px;"></i></span>
                    <span>
                        21 Union Street<br>
                        Lot 122<br>
                        Empangeni<br>
                        3880
                    </span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true" style="font-size: 20px;"></i></span>
                        <p><a href="tel:27746739232">Tel: +27 74 673 9232</a>  
                            <br><a href="tel:27861002425">Fax: +27 86 100 2425</a>
                        </p>
                    
                </li>
                <li>
                    <span><i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 20px;"></i></span>
                        <p>
                            <a href="tel:27829974609"> Whatsapp: +27 82 997 4609</a>
                        </p>
                </li>
                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true" style="font-size: 20px;"></i></span>
                    <span><a href="mailto:info@leadshub.co.za">info@leadshub.co.za</a></span>
                </li>
             
            </ul>

        </div>

        
    </div>
</footer>
<div class="copy-right-text">
    <span class="mb-2"><a href="https://ayanda-portfolio.herokuapp.com/">Developed by Ayanda Khanyile</a></span>
    <p>Copyright &#169; 2021. All rights reserved.</p>
</div>





<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js'></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/table_pagination/jquery.simplePagination.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>





<script type="text/javascript">
    $(document).ready(function(){
        if($('#modal_checker').val() == 0){
            $('#choose_kw').modal('show');
        }
        else{
            $('#choose_kw').modal('hide');
        }
    });
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5b6e0f83afc2c34e96e778d2/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->



</body>
</html>