<div class="container p-5 row">
    <table class="table table-responsive mt-3 w-100">
        <thead>
        <tr>
            <td scope="col"></td>
            <td scope="col">Features</td>
            <td scope="col" class="text-center">X6 Months</td>
            <td scope="col" class="text-center">X12 Months</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="package-name" scope="row" style="color: #CD7F32;">Bronze</td>
            <td>
                <ul class="list-tick text-muted">
                    <li>Unlimited Search Keywords for Email Alerts</li>
                    <li>1 Email recipient</li>
                    <li>1 Province tenders</li>
                </ul>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ bronze.sixMonthPrice }}</span><span>/Month</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=0 pk=bronze.package_id  %}">select</a>
                </div>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ bronze.annualPrice }}</span><span>/Annum</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=1 pk=bronze.package_id  %}">select</a>
                </div>
            </td>
        </tr>

        <tr>
            <td class="package-name" scope="row" style="color: #C0C0C0;">Silver</td>
            <td>
                <ul class="list-tick text-muted">
                    <li>Unlimited Search Keywords for Email Alerts</li>
                    <li>5 Email recipient</li>
                    <li>3 Provinces</li>
                </ul>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ silver.sixMonthPrice }}</span><span>/Month</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=0 pk=silver.package_id  %}">select</a>
                </div>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ silver.annualPrice }}</span><span>/Annum</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=1 pk=silver.package_id  %}">select</a>
                </div>
            </td>
        </tr>

        <tr>
            <td class="package-name" scope="row" style="color: #FFD700;">Gold</td>
            <td>
                <ul class="list-tick text-muted">
                    <li>Unlimited Search Keywords for Email Alerts</li>
                    <li>20 Email recipient</li>
                    <li>All Provinces</li>
                </ul>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ gold.sixMonthPrice }}</span><span>/Month</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=0 pk=gold.package_id  %}">select</a>
                </div>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ gold.annualPrice }}</span><span>/Annum</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=1 pk=gold.package_id  %}">select</a>
                </div>
            </td>
        </tr>

        <tr>
            <td class="package-name" scope="row" style="color: black;">Corporate</td>
            <td>
                <ul class="list-tick text-muted">
                    <li>Unlimited Search Keywords for Email Alerts</li>
                    <li>21 to 50 Email recipients</li>
                    <li>All Provinces + Africa</li>
                </ul>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ corporate.sixMonthPrice }}</span><span>/Month</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=0 pk=corporate.package_id  %}">select</a>
                </div>
            </td>
            <td>
                <div class="package-price text-center">
                    <span style="font-size: 22px; color: blue;">R{{ corporate.annualPrice }}</span><span>/Annum</span><br>
                    <a class="btn btn-success btn-sm" role="button" href="{% url 'register' billing_cycle=1 pk=corporate.package_id  %}">select</a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>