{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tenderwiz{% endblock %}
{% block content %}


<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
           aria-controls="nav-home" aria-selected="true"><i class="fa fa-folder-open fa-lg"></i><br>Tenders</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
           aria-controls="nav-profile" aria-selected="false"><i class="fa fa-tag fa-lg"></i><br/>Pricing</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
           aria-controls="nav-contact" aria-selected="false"><i class="fa fa-file-word-o fa-lg"
                                                                aria-hidden="true"></i><br/>Articles</a>
        <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
           aria-controls="nav-about" aria-selected="false"><i class="fa fa-phone fa-lg" aria-hidden="true"></i><br/>Contact
            us</a>
    </div>
</nav>

<div class="mb-3" style="background-color: white; border: 1px solid #ddd; border-top-style: hidden;">

    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style="background-color: white;">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="container">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select class="form-control">
                            <option value="All Provinces">All Provinces</option>
                            {% for province in provinces %}
                                <option value={{ province.province_name }}>{{ province.province_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    {% include 'tender_filter.html' %}
                </div>

                <div class="col-md-9 col-sm-12 col-xs-12">

                    <!--<div class="row" id="tenderSearchDiv">-->
                    <!--<form class="form-inline w-100" method="post">-->
                    <!--{% csrf_token %}-->
                    <!--<div class="col-md-4">-->
                    <!--{{ search_form.searchField }}-->
                    <!--</div>-->
                    <!--<div class="col-md-3 provSelection mr-0 ml-0">-->
                    <!--{{ search_form.categorySelectionField }}-->
                    <!--</div>-->
                    <!--<div class="col-md-3 provSelection">-->
                    <!--{{ search_form.provinceSelectionField }}-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                    <!--{% if user.is_authenticated %}-->
                    <!--<input type="submit" class="btn btn-primary" value="Search">-->
                    <!--{% else %}-->
                    <!--<a class="btn btn-primary subscribeDialogCall" role="button" href="javascript:void(0)">Search</a>-->
                    <!--{% endif %}-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->

                    <div class="m-1">
                        {% include 'tender_list.html' %}
                    </div>

                </div>
            </div>


        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% include 'prices.html' %}
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
            Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure
            adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat.
            Amet
            duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation
            mollit
            sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad
            duis
            occaecat ex.

            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
            Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure
            adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat.
            Amet
            duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation
            mollit
            sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad
            duis
            occaecat ex.
        </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            {% include 'contact_us_form.html' %}
        </div>
    </div>
</div>

<div class="tiles_container_div p-3" style="background-color: white;">
    <div class="row">
        <div class="col-sm-4">
            <a href="#">
            <div class="p-3 bg-light deco_divs" align="center">
                <i class="fa fa-question" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i><br>
                <strong>Why TenderWiz?</strong>
            </div>
        </a>


        </div>
        <div class="col-sm-4">
           <a href="#">
            <div class="p-3 bg-light deco_divs" align="center">
                <i class="fa fa-pencil" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i><br>
                <strong>Company Registration</strong>
            </div>
        </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
            <div class="p-3 bg-light deco_divs" align="center">
                <i class="fa fa-pencil-square-o" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i><br>
                <strong>Register</strong>
            </div>
        </a>
        </div>
    </div>
</div>






{% endblock %}