<div class="testimonials_container">
    <div class="testimonial">
        <div class="testimonial_txt">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>
                It is a long established rem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposThe point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposed to using 'Content here, content here', making  Ipsum as their.
            </p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </div>
        <div class="testimonial_footer">
            <span><strong>Ayanda Khanyile</strong> - Sales Manager</span><br>
            <span>Ayatech (PTY) LTD</span>
        </div>
    </div>

    <div class="testimonial">
        <div class="testimonial_txt">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>
                It is a long established rem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposThe point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposed to using 'Content here, content here', making  Ipsum as their.
            </p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </div>
        <div class="testimonial_footer">
            <span><strong>Ayanda Khanyile</strong> - Sales Manager</span><br>
            <span>Ayatech (PTY) LTD</span>
        </div>
    </div>

    <div class="testimonial">
        <div class="testimonial_txt">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>
                It is a long established rem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposThe point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposed to using 'Content here, content here', making  Ipsum as their.
            </p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </div>
        <div class="testimonial_footer">
            <span><strong>Ayanda Khanyile</strong> - Sales Manager</span><br>
            <span>Ayatech (PTY) LTD</span>
        </div>
    </div>

    <div class="testimonial">
        <div class="testimonial_txt">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>
                It is a long established rem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposThe point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposed to using 'Content here, content here', making  Ipsum as their.
            </p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </div>
        <div class="testimonial_footer">
            <span><strong>Ayanda Khanyile</strong> - Sales Manager</span><br>
            <span>Ayatech (PTY) LTD</span>
        </div>
    </div>

    <div class="testimonial">
        <div class="testimonial_txt">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>
                It is a long established rem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposThe point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making  Ipsum as their.  letters, as opposed to using 'Content here, content here', making  Ipsum as their.
            </p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </div>
        <div class="testimonial_footer">
            <span><strong>Ayanda Khanyile</strong> - Sales Manager</span><br>
            <span>Ayatech (PTY) LTD</span>
        </div>
    </div>
</div>