{% extends "base.html" %}
{% load static %}
{% block title %}Billing{% endblock %}
{% block content %}
<div class="page_header">
     <h3>Billing</h3>       
</div>

<div class="data_wrapper page p-3" style="min-height: 100vh;">
    <table class="table table-responsive table-hover tenders_table">
        <thead>
            <tr>
                <th>Invoice#</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for invoice in invoices %}

            <tr>
                <td>
                    {{ invoice.invoiceNumber }}
                </td>
                <td>
                    {{ invoice.invoiceDate }}
                </td>
                <td>
                    {{ invoice.due_date }}
                </td>
                <td>
                    {{ invoice.total }}
                </td>

                {% if invoice.pymnt_status == False %}
                    <td>
                        <a class="btn btn-sm btn-danger" href={% url 'dashboard_invoice' invoice.pk %}>Unpaid</a>
                    </td>
                {% else %}
                    <td>
                        <a class="btn btn-sm btn-success" href={% url 'dashboard_invoice' invoice.pk %}>Paid</a>
                    </td>
                {% endif %}

            </tr>

        {% endfor %}
    </table>

</div>

{% endblock %}