{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="page_header">     
</div>

<div class="data_wrapper page p-3" style="min-height: 100vh;">
        <div id="companyInfoContainer">
            <table class="table table-responsive">
                <tr>
                    <td>Company Name</td>
                    <td>{{ CompanyProfile.companyName }}</td>
                </tr>
                <tr>
                    <td>Company Reg Number</td>
                    <td>{{ CompanyProfile.companyRegNum }}</td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>{{ CompanyProfile.contactNumber }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ CompanyProfile.address }}</td>
                </tr>
                <tr>
                    <td>Area Code</td>
                    <td>{{ CompanyProfile.areaCode }}</td>
                </tr>
                <tr>
                    <td>Delivery Email Addresses</td>
                    <td>{{ CompanyProfile.deliveryEmails }}</td>
                </tr>
            </table>

            <div class="mb-3" id="clientChosenKeywords">
                <ul id="chosenKeywords" style="font-size: 12px;">
                {% for kw in CompanyProfile.keywords.all %}
                    <li>{{ kw }}</li>
                {% endfor %}
                </ul>
            </div>

            <div id="editBtnContainer">
                <a class="btn btn-outline-success btn-lg" role="button" href="{% url 'company_profile_edit' CompanyProfile.user_id %}"
                   style="font-family: 'slabo'">Edit</a>
            </div>
        </div>


</div>



{% endblock %}